@import "../../variables.scss";

.header {
    min-width: 100%;
    background-color: $charleston-green;
    color: $white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
 }
 
.menu {
    background-color: $onyx;
    // padding: 21px 16px 21px 17px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease
}

.first{
    display: flex;
}
.document {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 24px;
    
    input {
        background-color: $charleston-green;  
        border: none;
        outline: none;
        color: $white; 
        cursor: pointer;
    }
}
.save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
     margin-right: 8px;
}

.saveContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fire-opal;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height:100%;
    background-color: $onyx;
    cursor: pointer;
    padding-left: 10px;
 }

.conditional{
    margin-left:180px;
}

.deleteicon,.saveicon{
    cursor: pointer;
}

 

  .line{
    width: 1px;
    height: 40px;
    background-color: #5A6069;
    margin:auto 0;
    margin-left: 27px;
    margin-right: 27px;

  }
 
@media screen and (min-width: 768px) {
     .saveContainer{
        width: 152px;
        justify-content: left;
        font-weight: 400;

     }
     .saveicon{
        margin:12px 7px 16px 16px;
      }
    .header{
        height: 72px;
    }
    .menu{
        height: 72px;
    }
   
  }
  @media screen and (min-width: 769px) { .document{
    margin-left: 0;
}}