$chinese-black:#151619;
$dark-jungle-green:#1D1F22;
$charleston-green:#2B2D31;
$onyx:#35393F;
$black-coral:#5A6069;
$gray:#7C8187;
$lavender-gray:#C1C4CB;
$platinum:#E4E4E4;
$cultured:#F5F5F5;
$white:#FFFFFF;
$fire-opal:#E46643;
$atomic-tangerine:#F39765;